.orderjsx{
    padding-top: 50px;
}
.orderheader{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.orderbox{
    margin-bottom: 50px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: purple;
}
.orderboxcircle{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow:  5px 5px black;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.orderboxcircle:hover{
    background-color: plum;
    transition: .5s ease;
    cursor: pointer;
}

.orderboxcircle img {
    height: 110px;
}